menu "Attune XIAO minimal options"

config OMI_CODEC_OPUS
	bool "Enable Opus codec"
	default y

config OMI_ENABLE_OFFLINE_STORAGE
	bool "Enable offline storage"
	default n

config OMI_ENABLE_ACCELEROMETER
	bool "Enable accelerometer"
	default n

config OMI_ENABLE_BUTTON
	bool "Enable button support"
	default y

config OMI_ENABLE_SPEAKER
	bool "Enable speaker support"
	default n

config OMI_ENABLE_BATTERY
	bool "Enable battery support"
	default y

config OMI_ENABLE_USB
	bool "Enable USB support"
	default y

config OMI_ENABLE_HAPTIC
	bool "Enable haptic support"
	default n

endmenu
